.App {
  text-align: center;
}
/* h2{
  color: #6c757d ;
} */
@media screen and (min-width: 400px) {
  .parallax {
    height: 100%;
    background-size: 90%;
  }
  .col-md-3 {
    max-width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .col-md-3 {
    max-width: 30%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .about-me-img {
    max-width: 40%;
    margin: auto;
  }
}

.banner-image {
  background-image: url("./Components/Jumbotron/barrys3.png");
  height: 400px;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  margin-bottom: 20px;
}

.paraPort {
  /* The image used */
  background-image: url("./Components/Jumbotron/barrys3.png");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% !important;
}

.banner-header {
  font-size: 150px;
  text-align: center;
  opacity: 0.7;
  padding-top: 100px;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: red;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: red;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.container {
  position: relative;
  margin-top: 100px;
}

.card {
  margin: 35px !important;
}

#aboutMeText {
  padding: 50px 0px 50px 0px;
  margin: auto;
  width: 50%;
  text-align: center;
  color: #6c757d;
}
