.parallax {
  /* min-height: 300px;
  padding-top: 100px; */
  /* The image used */
  background-image: url("./barrys3.png");

  /* Set a specific height */
  min-height: 800px;
  max-height: 1500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% !important;
}
